body {
    font-family:'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-color: #f2f3f0;
}

.header {
    background-color: #0ca3ee;
    text-align: center;
    padding: 1em;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 2em;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

h1, h2 {
    color: #ebd808;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

li {
    margin-bottom: 10px;
}

/*follow us*/

