body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

header {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem;
}

.dashboard-container {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
}

.sidebar {
  width: 20%;
  background-color: #f4f4f4;
  padding: 1rem;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 10px;
}

.sidebar a {
  text-decoration: none;
  color: #333;
}

.sidebar a:hover {
  color: #777;
}

.content {
  flex-grow: 1;
  background-color: #fff;
  padding: 2rem;
}


.dashboard-summary {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.summary-box {
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.recent-orders table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.recent-orders th, .recent-orders td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.recent-orders th {
  background-color: #f2f2f2;
}

.analytics {
  margin-top: 20px;
}

.chart {
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}
