body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    padding: 0;
    background-color: #efecec;
    background-image: url("C:\xampp\htdocs\try-tiffin-food-website\images\lunch.jpg");
  }
  
  .container {
    max-width: 400px;
    margin: 50px auto;
    padding: 40px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden; /* Prevent animation overflow */
  }
  
  h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
  }
  
  form {
    display: grid;
    grid-gap: 20px;
  }
  
  .form-group {
    position: relative;
  }
  
  label {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    pointer-events: none;
    transition: 0.2s ease-out;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="number"],
  input[type="password"]
  {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
  }
  
  /* Placeholder Animation */
input[type="text"]:focus + label,
  input[type="email"]:focus + label,
  input[type="number"]:focus + label,
  input[type="password"]:focus + label,
  textarea:focus + label,
  input[type="text"]:valid + label,
  input[type="email"]:valid + label,
  input[type="tel"]:valid + label,
  input[type="password"]:valid + label,
  textarea:valid + label {
    top: 10px;
    font-size: 12px;
    color: #4CAF50;
  }
  
  input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #45a049;
  }

  /** trasition apply in sux